*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
:root{
    --grey:#333;
    --green:#036e00;
    --orange:#EDA838;
}
html{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
.container{
    text-align: center;
}
.first-container{
    background:var(--grey);
    position:relative;
    height:100vh;
}
#site-title{
    color:var(--orange);
    padding:2em;
    font-size: 1.2rem;
    font-weight: 400;
}
#menu-btn{
    position:fixed;
    width:120px;
    height:120px;
    border-radius: 50%;
    left:-60px;
    top:-60px;
    background:var(--orange);
    border:none;
    z-index: 20;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
#menu-btn .line{
    width: 25px;
    height:3px;
    background:var(--grey);
    position:absolute;
    right:22px;    
}
#menu-btn .line-1{
    bottom:42px;
}
#menu-btn .line-2{
    bottom:34px;
}
#menu-btn .line-3{
    bottom:26px;
}
#monitor{
    width:30%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-70%);
}
.hi-div{
    position:absolute;
    top:67%;
    left:50%;
    transform:translate(-50%,20%);
    color:white;
    font-size:2rem;
    line-height: 1.6;
    word-spacing: 3px;
}
/* NAVIGATION */
.container nav{
    position:absolute;
    bottom:1rem;
    left:50%;
    transform:translateX(-50%);   
}
.container nav li{
    list-style:none;
    float:left;
    transition:border 300ms;
}

.container nav li a{
    color:var(--orange);
    text-decoration: none;
    display: block;
    padding:1em;
}
.container nav li a::before{
    content:"/";
    padding: 0  1.5em 0 0;
}
.container nav li:first-child a::before{
    content:"";
}
.container nav li::after{
    content:"";
    width:calc(100% - 3.5em);
    height: 2px;
    display: block;
    position:relative;
    left:2.5em;
    background:transparent;
    bottom:5px;
    transition: 300ms;
}
.container nav li:hover::after{
    background: var(--orange);   
}
.about-container nav,
.work-container nav,
.contact-container nav{
    width:80%;
    position: absolute;
    bottom:initial;
    top:85vh;
    left:initial;
    transform:translateX(0); 
}
.about-container nav ul,
.contact-container nav ul,
.work-container nav ul{
    display:flex;
    justify-content: center;
}
.about-container nav li a,
.work-container nav li a,
.contact-container nav li a{
    font-size: .9rem;
    color:var(--grey);
}
.about-container nav li:hover::after,
.work-container nav li:hover::after,
.contact-container nav li:hover::after{
    background: var(--grey);
}
/* about */
.fixed-div{
    position:sticky;
    width:100%;
    height:100vh;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    color:green;
    justify-content: center;
    align-items: center;
}
.about-container{
    display:flex;
    margin-bottom: -5px;   
}
.about-container .col-1{
    position: relative;
    background:var(--orange);
    width:50%;
}
.about-container .col-2{
    width:50%;
}
.about-container .col-1 h2{
    color:var(--grey);
    font-size: 2rem;
}
#profile-pic{
    width:160px;
    position:absolute;
    top:20%;
    transform: translateX(calc(100vw / 4) );
}
.about-container .col-2{
    padding:100px;
    text-align: left;
}
.about-container .col-2 p{
    font-size:1.3rem;
    line-height: 1.4;
}
.techs-div{
    text-align: center;
    padding-top:4em;
}
.techs-div h3{
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 2em;
}
.techs-div .logo-div{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.techs-div .logo-div img{
    width:120px;
    margin:1em;
}
#jquery-logo{
    width:250px;
}
#git-logo{
    width:180px;
}

/* work */
.work-container{
    display:flex;   
}
.work-container .col-1{
    width:50%; 
}
.work-container .col-2{
    width:50%; 
}
.work-container .col-1 h2{
    color:var(--grey);
    font-size: 2rem;
    left:25%;
}
.work-wrapper{
    height:100vh;
    overflow: hidden;
    position: relative;
    color:white;
    margin:5px 0;
}
.work-wrapper a{
    color:white;
}

.work-sample:hover{
    transform: scale(1.25);
}

.bestosteopathy{
    background:radial-gradient(
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, 0.55)
      ), url(./images/work-samples/bestosteopathy.jpg);
    
}
.goodman{
    background:radial-gradient(
        rgba(0, 0, 0, 0.1), 
        rgba(63, 61, 61, 0.55)
      ), url(/images/work-samples/goodman.jpg);
}
.work-sample{
    height: 100%;
    transition:transform 10s linear;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.title-div{
    position:absolute;
    top:50%;
    right:50%;
    transform: translate(50%,50%);
    background: rgba(0,0,0,.5);
    padding:2em 5em;
    border-radius: 1em;
    transition:300ms;
}
.title-div:hover{
    background:var(--grey);
    color:var(--orange)
}
.title-div h2,.title-divh4{
    font-weight: 400;
    padding:5px;
}

/* contact */
.contact-container{
    display:flex;
    height:100vh;
    margin-top:-5px;   
}
.contact-container .col-1{
    width:50%; 
    background:var(--orange);
}
.contact-container .col-2{
    width:50%; 
}
.contact-container .col-1 h2{
    font-size: 2rem;
    color:var(--grey);
}
.contact-container .col-2{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--grey);
    line-height: 1.5;
    padding:1em;
}
.contact-container .col-2 h2{
    font-size: 2rem;
    padding:2em;
}
.contact-container .col-2 p{
    font-size: 1.5rem;
}
.contact-container .col-2 h3{
    font-size: 2rem;
    font-weight: 400;
    padding-top:1em;
}
/* top button */
#top-btn{
    font-size: 1.5rem;
    position:fixed;
    bottom:2em;
    right:2em;
    border:none;
    color:rgba(51,51,51,0.5);
    background: none;
    padding:5px;
    animation: wiggle 800ms infinite ease-in-out;
    text-decoration: none;
}
#top-btn:hover{
    color:var(--orange);
    background:var(--grey);
}

@keyframes wiggle{
    0%{transform:translateY(0)}
    50%{transform:translateY(2px)}
    100%{transform:translateY(0)}
}
/* Hamburger Menu */
.menu{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:130vh;
    background: var(--orange);
    display:flex;
    justify-content: center;
    align-items: center; 
    transition:all 800ms;
    z-index: 25;
    border-bottom-right-radius: 160px;
    transform: translate(-50vw, -90vh) scale(0.1) ; 
    border-bottom:5px solid var(--grey);
}
.active{
    transform:translate(0,0) scale(1);
}
.menu ul{
    margin-bottom: 30vh;
}
.menu li{
    list-style: none;
}
.menu a{
    color:var(--grey);
    display:block;
    text-decoration: none;
    font-size: 2em;
    padding:.5em;
    transition:color 300ms;
}
.menu a:hover{color:white;
}
#menu-close-btn{
    font-size: 4rem;
    padding:0 1rem 1rem 1rem;
    position:absolute;
    top:0;
    left:0;
    cursor: pointer;
    background: none;
    border:none;
}

/* MEDIA QUERIES  */
@media screen and (min-width:769px){
    #menu-btn{
        opacity:.2;
        transition: opacity 400ms;
    }
    #menu-btn:hover{
        opacity:1;
    }
}
@media screen and (max-width:1000px){
    #monitor{
        width:40%;
        transform:translate(-50%,-85%);
    }
    .hi-div{
        top:60%;
        width:80%;
    }
}
@media screen and (max-width:768px){
    #site-title{
        padding:2em 3em;
    }
   
    #monitor{
        width:60%;
        transform:translate(-50%,-80%);
    }
    .hi-div{
        font-size:1.7rem;
    }
    .container nav{
       
        display: none;
    }

    .about-container,
    .work-container,
    .contact-container{
        display:block;
    }
    .about-container .col-1,
    .about-container .col-2,
    .work-container .col-1,
    .work-container .col-2,
    .contact-container .col-1,
    .contact-container .col-2{
        width:100%;
    }
    #profile-pic{
        display: none;
    }
    .about-container .col-2{
        padding:40px;
    }
    #top-btn{
        bottom:.8em;
        right:.8em;
    }
}
@media screen and (max-width:450px){
    
    #monitor{
        transform:translate(-50%,-100%);
    }
    .hi-div{
        top:50%;
        font-size:1.7rem;
    }
    
}
@media screen and (max-width:350px){
    .hi-div{
        top:50%;
        font-size:1.5rem;
    }

}

